
@{
    Layout = null;
}
<h3>mvc kamp tablo örneği</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>